
{{!-- =============== Footer ===============--}}
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 offset-l2 s6">
        <h5 class="white-text">Sites utiles </h5>
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank" rel="noopener" href="https://www.whisky.fr/">La maison du whisky</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" rel="noopener" href="https://www.masterofmalt.com/">Master of Malt</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" rel="noopener" href="https://www.whiskybase.com/">whiskybase</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" rel="noopener" href="http://www.whiskyfun.com/">WhiskyFun</a></li>
        </ul>
      </div>
      <div class="col s6">
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#contact">Nous contacter</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2020 Copyright 
    </div>
  </div>
</footer>
{{!-- =============== FIN Footer ===============--}}

<!-- Modal Structure -->
<div id="contact" class="modal">
  <form action="/admin/message" method="POST">
    <div class="row">

      <div class="input-field col s6">
        <input type="email" name="email">
        <label for="email">Email</label>
      </div>

      <div class="input-field col s12">
        <textarea name="message" class="materialize-textarea" data-length="120"></textarea>
        <label for="textarea2">Textarea</label>
      </div>

      <div class="modal-footer">
        <button class="btn btn-stand waves-effect waves-light succes" type="submit">Envoyer
        </button>
      </div>
  </form>
</div>