<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="index, follow">
  <meta name="description"
    content="Tasting Spirit, créez un espace de dégustation personnalisé pour archiver vos plus belle dégustations.">

<!-- =============== Google Analytics ===============-->
  {{!-- <meta name="google-signin-client_id" content="UA-167639552-1">
  <meta name="google-signin-scope" content="https://www.googleapis.com/auth/analytics.readonly"> --}}



  <title>Tasting Spirit</title>


  {{!-- =============== Import Favicon ===============--}}
  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico" />

  {{!-- =============== Import Google Icon Font ===============--}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {{!-- =============== Import GoogleFont ===============--}}
  <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">

  {{!-- =============== Import Fontawesome ===============--}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  {{!-- =============== Import materialize ===============--}}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"> </script>

  {{!-- =============== Import CSS ===============--}}
  <link rel="stylesheet" href="/assets/css/style.css" />

  <script src="https://d3js.org/d3.v5.min.js"></script>


</head>

<body>