<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="index, follow">
  <meta name="description"
    content="Tasting Spirit, créez un espace de dégustation personnalisé pour archiver vos plus belle dégustations.">

    <title>Tasting Spirit</title>

  {{!-- =============== Import Favicon ===============--}}
  <link rel="shortcut icon" type="image/png" href="/assets/images/icons8-bar-48.png"/> 

  {{!-- =============== mport Google Icon Font ===============--}}  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {{!-- =============== Import materialize ===============--}}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"> </script>

  {{!-- =============== Import CSS ===============--}}
  <link rel="stylesheet" href="/assets/css/style.css" />


</head>

<body>