<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Logo</a>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/espacePerso">Mon profil</a></li>
      {{#if user}}
      {{else}}
      <li><a href="/connexion">Connexion</a></li>
      {{/if}}
      {{#if user}}
      <li><a href="/deco">Deconnexion</a></li>
      {{/if}}
      <li><a href="/createCompte">créer un compte</a></li>
      {{#if isAdmin}}
      <li><a href="/admin">admin</a></li>
      {{/if}}
    </ul>
  </div>
  <div class="row">
    <a class="waves-effect waves-light btn-small col s4" href="/decouvrir">Découvrir</a>
    <a class="waves-effect waves-light btn-small col s4" href="/guide">Guide Pratique</a>
    <a class="waves-effect waves-light btn-small col s4" href="/rechercher">Rechercher</a>
  </div>

</nav>

<ul id="slide-out" class="sidenav">
  {{#if user}}
  <li>
    <div class="user-view">
      <div class="background">
        <img src="/assets/images/strathisla.jpg" width="100%">
      </div>
      <a href="#user"><img class="circle" src="{{ dbUser.image}}"></a>
      <a href="#name"><span class="white-text name">admin</span></a>
      <a href="#email"><span class="white-text email">admin@gmail.com</span></a>
    </div>
  </li>
  {{else}}
  {{/if}}
  <li><a href="/espacePerso">Mon profil</a></li>
  {{#if user}}
  {{else}}
  <li><a href="/connexion">Connexion</a></li>
  {{/if}}
  {{#if user}}
  <li><a href="/deco">Deconnexion</a></li>
  {{/if}}
  <li><a href="/createCompte">créer un compte</a></li>
  {{#if isAdmin}}
  <li><a href="/admin">admin</a></li>
  {{/if}}
</ul>