
{{#if isAdmin }}
{{else }}
<div class="containerRgpd">
    <div class="row">
        <div class="col l12 m12 s12">
            <p>En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de Cookies pour vous proposer
                une meilleur expérience et réaliser des statistiques de visites.</p>
            <a href="/">En savoir plus</a>
            <form action="/rgpd" method="POST">
                <div class="bouton">
                    <button type="submit" value="refuse" name="refuse" class="btn red">refuser</button>
                    <button type="submit" value="accept" name="accept" class="btn green">accepter</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{/if }}

<script>
    console.log(`{{accept}}`);
    const rgpdBandeau = document.querySelector('.containerRgpd')
    if(`{{accept}}` === 'true'){
        rgpdBandeau.style.display='none';
    }
</script>

<style>
    .containerRgpd {
        position: fixed;
        bottom: 0;
        background-color: black;
        color: white;
        text-align: center;

    }

    .bouton {
        margin-top: 10px;
    }
</style>