<div class="create-acount">
    <h1>Création de compte</h1>
    <div class="row">
        <form class="col s12" action="/createCompte" method="POST"> 
            <div class="row">
                <div class="input-field col l6 s12">
                    <input id="firstname" type="text" name="firstname" class="validate">
                    <label for="firstname">Prénom</label>
                </div>
                <div class="input-field col l6 s12">
                    <input id="lastname" type="text" name="lastname" class="validate">
                    <label for="lastname">Nom</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l12 s12">
                    <input id="email" type="email" name="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l6 s12">
                    <input id="password" type="password" name="password">
                    <label for="password">Mot de passe</label>
                </div>
                <div class="input-field col l6 s12">
                    <input id="password" type="password" name="confPassword">
                    <label for="password">Confirmation mot de passe</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>Je déclare être majeur</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="btn btn-stand waves-effect waves-light" type="submit">Valider
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>