<div class="container">
  <div id="rechercher" class="row">
    <h1>rechercher</h1>
    <div class="input-field col s4 m4">
      <select>
        <option value="" disabled selected>Pays</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>
    <div class="input-field col s4 m4">
      <select>
        <option value="" disabled selected>Typicité</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>
    <div class="input-field col s4 m4">
      <select>
        <option value="" disabled selected>Marque</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>
  </div>
</div>