<nav class="nav-extended">
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#degustation">dégustation </a></li>
            <li class="tab"><a href="#test2">Mes archives</a></li>
            <li class="tab"><a href="#test3">Ma collection</a></li>
            <li class="tab"><a href="#test4">Wish list</a></li>
        </ul>
    </div>
</nav>


<div id="degustation" class="container">

    <div class="degust-title">
        <h3>Degustation</h3>
    </div>

    <div class="head-taste">
        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="whiskyName">
                <label class="active" for="whiskyName">Whisky</label>
            </div>
            <div class="input-field col s6">
                <input type="text" name="lieu">
                <label class="active" for="lieu">Lieu</label>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" name="origine">
                    <label class="active" for="origine">Origine</label>
                </div>
                <div class="input-field col s6">
                    <input type="date" name="date">
                    <label class="active" for="date">Date</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="visu">
            <div class="section-title">
                <h6>Visuel</h6>
            </div>
            <div class="limpidité">
                <div class="st">
                    <p>Limpidité</p>
                </div>
                <div class="row">
                    <div class="col l3 s3">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>trouble</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l3 s3">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>flou</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l3 s3">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>opalescent</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l3 s3">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>limpide</span>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="brillance">
                <div class="st">
                    <p>Brillance</p>
                </div>
                <div class="row">
                    <div class="col l4 s4">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>terne</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l4 s4">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>lumineuse</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l4 s4">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>éclatante</span>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="intensité">
                <div class="st">
                    <p>Intensité colorante</p>
                </div>
                <div class="row">
                    <div class="col l4 s4">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>pâle</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l4 s4">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>claire</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l4 s4">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>soutenue</span>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="capillarité">
                <div class="st">
                    <p>Capillarité (larmes)</p>
                </div>
                <div class="row">
                    <div class="col l3 s3">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>coulante</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l3 s3">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>épaisse</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l3 s3">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>grasse</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l3 s3">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>visqueuse</span>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="couleur">
                <div class="st">
                    <p>Couleur (nuance du disque)</p>
                </div>
                <div class="row">
                    <div class="col l3 s3">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>or vert</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l3 s3">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>or doré</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l3 s3">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>or paille</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l3 s3">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>or ambré</span>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="olfactif">
            <div class="section-title">
                <h6>Olfactif</h6>
            </div>
            <div class="fist-nose">
                <div class="st">
                    <p>1er nez (avant aération)</p>
                </div>
                <div class="row">
                    <p>1ère impression (franchise)</p>
                    <div class="col l3 s3">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>douteuse</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l3 s3">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>simple</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l3 s3">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>franche</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l3 s3">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>complexe</span>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <p>Intensité aromatique</p>
                    <div class="col l4 s4">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>faible</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l4 s4">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>modérée</span>
                            </label>
                        </p>
                    </div>
                    <div class="col l4 s4">
                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>puissante</span>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <p>Citez deux familles aromatiques :</p>
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea"></textarea>
                        <label>Par voie directe ou indirecte (rétro-olfaction)</label>
                    </div>
                </div>
                <div class="row">
                    <p>Citez trois arômes :</p>
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea"></textarea>
                        <label>Par voie directe ou indirecte (rétro-olfaction)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="test2" class="col s12">

</div>

<div id="test3" class="col s12">

</div>

<div id="test4" class="col s12">

</div>