<nav class="nav-extended">
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#degustation">dégustation </a></li>
            <li class="tab"><a href="#archives">Mes archives</a></li>
            <li class="tab"><a href="#collection">Ma collection</a></li>
            <li class="tab"><a href="#wish">Wish list</a></li>
        </ul>
    </div>
</nav>

{{!-- =============== PAGE DEGUSTATION ===============--}}
<div id="degustation" class="container">
    {{> profil/degustation }}
</div>

{{!-- =============== PAGE MES ARCHIVES ===============--}}
<div id="archives" class="col s12">
    {{> profil/archives }}
</div>

{{!-- =============== PAGE MA COLLECTION ===============--}}
<div id="collection" class="col s12">

</div>

{{!-- =============== PAGE WISHLIST ===============--}}
<div id="wish" class="col s12">

</div>