<form action="/espacePerso" method="POST" enctype="application/x-www-form-urlencoded">
    {{!-- =============== EN-TETE ===============--}}

    <div class="degust-title">
        <h3>Degustation</h3>
    </div>

    <div class="head-taste">
        <div class="row" id="head">
            <div class="input-field col s6">
                <input type="text" name="whiskyName">
                <label class="active" for="whiskyName" value="string">Whisky</label>
            </div>
            <div class="input-field col s6">
                <input type="text" name="lieu" >
                <label class="active" for="lieu" value="string">Lieu</label>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" name="origine" >
                    <label class="active" for="origine" value="string">Origine</label>
                </div>
                <div class="input-field col s6">
                    <input type="date" name="date" >
                    <label class="active" for="date" value="string">Date</label>
                </div>
            </div>
        </div>
    </div>

    {{!-- =============== VISUEL ===============--}}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header section-title">
                <h6>Visuel</h6>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="visu">
                        <div class="limpidité" id="limpidite">
                            <div class="st">
                                <p>Limpidité</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in case" name="limpidite" value="trouble" />
                                            <span>trouble</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in case" name="limpidite" value="flou" />
                                            <span>flou</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in case" name="limpidite" value="opalescent" />
                                            <span>opalescent</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in case" name="limpidite" value="limpide" />
                                            <span>limpide</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="brillance" id="brillance">
                            <div class="st">
                                <p>Brillance</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="brillance" value="terne"  />
                                            <span>terne</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="brillance" value="lumineuse" />
                                            <span>lumineuse</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="brillance" value="eclatante"  />
                                            <span>éclatante</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="intensité" id="intensite">
                            <div class="st">
                                <p>Intensité colorante</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="intensite" value="pale" />
                                            <span>pâle</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="intensite" value="claire" />
                                            <span>claire</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="intensite" value="soutenue" />
                                            <span>soutenue</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="capillarité" id="capillarite">
                            <div class="st">
                                <p>Capillarité (larmes)</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="capillarite" value="coulante" />
                                            <span>coulante</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="capillarite" value="epaisse" />
                                            <span>épaisse</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="capillarite" value="grasse" />
                                            <span>grasse</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="capillarite" value="visqueuse" />
                                            <span>visqueuse</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="couleur" id="couleur">
                            <div class="st">
                                <p>Couleur (nuance du disque)</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="couleur" value="vert" />
                                            <span>or vert</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="couleur" value="dore" />
                                            <span>or doré</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="couleur" value="paille"/>
                                            <span>or paille</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="couleur" value="ambre"/>
                                            <span>or ambré</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </li>

        {{!-- =============== OLFACTIF ===============--}}

        <li>
            <div class="collapsible-header section-title">
                <h6>Olfactif</h6>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="olfactif" id="olfactif">
                        <div class="first-nose" id="firstnose">
                            <div class="st">
                                <p>1er nez (avant aération)</p>
                            </div>
                            <div class="row bg-beige franchise" id="franchise">
                                <p>1ère impression (franchise)</p>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="franchise" value="douteuse" />
                                            <span>douteuse</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="franchise" value="simple" />
                                            <span>simple</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="franchise" value="franche" />
                                            <span>franche</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="franchise" value="complexe" />
                                            <span>complexe</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <div class="row bg-beige intensiteOl" id="intensiteOl">
                                <p>Intensité aromatique</p>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="intensiteOl" value="faible" />
                                            <span>faible</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="intensiteOl" value="moderee" />
                                            <span>modérée</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="intensiteOl" value="puissante" />
                                            <span>puissante</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <div class="row bg-beige">
                                <p>Citez deux familles aromatiques :</p>
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" type="text" name="textfamille" value="textfamille"
                                        placeholder="Par voie directe ou indirecte (rétro-olfaction)"></textarea>

                                </div>
                            </div>
                            <div class="row bg-beige">
                                <p>Citez trois arômes :</p>
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" type="text" name="textaromes" value="textaromes"
                                        placeholder="Par voie directe ou indirecte (rétro-olfaction)"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="second-nose" id="secondnose">
                            <div class="st">
                                <p>2eme nez (après aération)</p>
                            </div>
                            <div class="row bg-beige">
                                <p>Citez deux familles aromatiques :</p>
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" type="text" name="textfamillebis" value="textfamillebis"
                                        placeholder="Par voie directe ou indirecte (rétro-olfaction)"></textarea>
                                </div>
                            </div>
                            <div class="row bg-beige">
                                <p>Citez trois arômes :</p>
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" type="text" name="textaromesbis" value="textaromesbis"
                                        placeholder="Par voie directe ou indirecte (rétro-olfaction)"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>


        {{!-- =============== GUSTATIF ===============--}}

        <li>
            <div class="collapsible-header section-title">
                <h6>Gustatif</h6>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="gustatif">
                        <div class="attaque" id="attaque">
                            <div class="st">
                                <p>Attaque</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="attaque" value="faible" />
                                            <span>faible</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="attaque" value="ample" />
                                            <span>ample</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="attaque" value="attfranche" />
                                            <span>franche</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="attaque" value="attpuissante" />
                                            <span>puissante</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="acidité" id="acidite">
                            <div class="st">
                                <p>Acidité</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="acidite" value="molle" />
                                            <span>molle</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="acidite" value="fraiche" />
                                            <span>fraîche</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s2">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="acidite" value="vive" />
                                            <span>vive</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="acidite" value="nerveuse" />
                                            <span>nerveuse</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="moelleux" id="moelleux">
                            <div class="st">
                                <p>Moelleux (consistance-rondeur-alcool)</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l2 s2">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moelleux" value="sec" />
                                            <span>sec</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l2 s2">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moelleux" value="tendre"/>
                                            <span>tendre</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l2 s2">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moelleux" value="gras"/>
                                            <span>gras</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l2 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moelleux" value="capiteux" />
                                            <span>capiteux</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l2 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moelleux" value="lourd" />
                                            <span>lourd</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="sale" id="sale">
                            <div class="st">
                                <p>Salé</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="sale" value="absent" />
                                            <span>absent</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="sale" value="iode" />
                                            <span>iodé/marin</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="sale" value="algal" />
                                            <span>algal</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="aromes" id="arome">
                            <div class="st">
                                <p>Arômes</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" placeholder="Par rétro-olfaction" type="text"
                                        name="arome" value="textarometerce"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="finale" id="finale">
                            <div class="st">
                                <p>Finale</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="finale" value="courte" />
                                            <span>courte</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="finale" value="moyenne" />
                                            <span>moyenne</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="finale" value="longue" />
                                            <span>longue</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="finale" value="persistante" />
                                            <span>persistante</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>


        {{!-- =============== CONCLUSION ===============--}}

        <li>
            <div class="collapsible-header section-title">
                <h6>Conclusion</h6>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="CONCLUSION">
                        <div class="qualité" id="qualite">
                            <div class="st">
                                <p>Qualité</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="qualite" value="faible" />
                                            <span>faible</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="qualite" value="acceptable" />
                                            <span>acceptable</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="qualite" value="bonne" />
                                            <span>bonne</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="qualite" value="excellente" />
                                            <span>excellente</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="moment" id="moment">
                            <div class="st">
                                <p>Moment</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moment" value="aperitif" />
                                            <span>apéritif</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moment" value="repas" />
                                            <span>repas</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moment" value="digestif" />
                                            <span>digestif</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="association" id="association">
                            <div class="st">
                                <p>Association</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" type="text" name="association" value="textassociation"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="prix" id="prix">
                            <div class="st">
                                <p>Prix public (pour une bouteille de 75cl)</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="prix" value="inftrente" />
                                            <span>Inférieur à 30€</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="prix" value="trentecinquante" />
                                            <span>Entre 30€ et 50€</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="prix" value="cinquantesoixantedix" />
                                            <span>Entre 50€ et 70€</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="prix" value="soixantedixplus" />
                                            <span>Supérieur à 70€</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="note" id="note">
                            <div class="st">
                                <p>Note</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="input-field col s4">
                                    <textarea class="materialize-textarea" type="number" name="note" value="valeurnote"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div>
        <button class="btn waves-effect waves-light" type="submit">Enregistrer</button>
    </div>

</form>

