<form action="/espacePerso" method="POST">
    {{!-- =============== EN-TETE ===============--}}

    <div class="degust-title">
        <h3>Degustation</h3>
    </div>

    <div class="head-taste">
        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="whiskyName">
                <label class="active" for="whiskyName">Whisky</label>
            </div>
            <div class="input-field col s6">
                <input type="text" name="lieu">
                <label class="active" for="lieu">Lieu</label>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" name="origine">
                    <label class="active" for="origine">Origine</label>
                </div>
                <div class="input-field col s6">
                    <input type="date" name="date">
                    <label class="active" for="date">Date</label>
                </div>
            </div>
        </div>
    </div>

    {{!-- =============== VISUEL ===============--}}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header section-title" id="visuel">
                <h6>Visuel</h6>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="visu">
                        <div class="limpidité" id="limpidite">
                            <div class="st">
                                <p>Limpidité</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in case" name="trouble" value="true" />
                                            <span>trouble</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in case" name="flou" value="true" />
                                            <span>flou</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in case" name="opalescent" value="true" />
                                            <span>opalescent</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in case" name="limpide" value="true" />
                                            <span>limpide</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="brillance" id="brillance">
                            <div class="st">
                                <p>Brillance</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="terne" value="true" />
                                            <span>terne</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="lumineuse" value="true"/>
                                            <span>lumineuse</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="eclatante" value="true" />
                                            <span>éclatante</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="intensité" id="intensite">
                            <div class="st">
                                <p>Intensité colorante</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="pale" value="true" />
                                            <span>pâle</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="claire" value="true" />
                                            <span>claire</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="soutenue" value="true" />
                                            <span>soutenue</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="capillarité" id="capillarite">
                            <div class="st">
                                <p>Capillarité (larmes)</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="coulante" value="true" />
                                            <span>coulante</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="epaisse" value="true" />
                                            <span>épaisse</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="grasse" value="true" />
                                            <span>grasse</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="visqueuse" value="true" />
                                            <span>visqueuse</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="couleur" id="couleur">
                            <div class="st">
                                <p>Couleur (nuance du disque)</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="vert" value="true" />
                                            <span>or vert</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="doré" value="true" />
                                            <span>or doré</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="paille" value="true"/>
                                            <span>or paille</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="ambre" value="true"/>
                                            <span>or ambré</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </li>

        {{!-- =============== OLFACTIF ===============--}}

        <li>
            <div class="collapsible-header section-title">
                <h6>Olfactif</h6>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="olfactif">
                        <div class="first-nose" id="first-nose">
                            <div class="st">
                                <p>1er nez (avant aération)</p>
                            </div>
                            <div class="row bg-beige">
                                <p>1ère impression (franchise)</p>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="first-nose" value="douteuse" />
                                            <span>douteuse</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="first-nose" value="simple" />
                                            <span>simple</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="first-nose" value="franche" />
                                            <span>franche</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="first-nose" value="complexe" />
                                            <span>complexe</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <div class="row bg-beige">
                                <p>Intensité aromatique</p>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="first-nose" value="faible" />
                                            <span>faible</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="first-nose" value="moderee" />
                                            <span>modérée</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="first-nose" value="puissante" />
                                            <span>puissante</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <div class="row bg-beige">
                                <p>Citez deux familles aromatiques :</p>
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" type="text" name="first-nose" value="text-famille"
                                        placeholder="Par voie directe ou indirecte (rétro-olfaction)"></textarea>

                                </div>
                            </div>
                            <div class="row bg-beige">
                                <p>Citez trois arômes :</p>
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" type="text" name="first-nose" value="text-aromes"
                                        placeholder="Par voie directe ou indirecte (rétro-olfaction)"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="second-nose" id="second-nose">
                            <div class="st">
                                <p>2eme nez (après aération)</p>
                            </div>
                            <div class="row bg-beige">
                                <p>Citez deux familles aromatiques :</p>
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" type="text" name="second-nose" value="text-famille"
                                        placeholder="Par voie directe ou indirecte (rétro-olfaction)"></textarea>
                                </div>
                            </div>
                            <div class="row bg-beige">
                                <p>Citez trois arômes :</p>
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" type="text" name="second-nose" value="text-aromes"
                                        placeholder="Par voie directe ou indirecte (rétro-olfaction)"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>


        {{!-- =============== GUSTATIF ===============--}}

        <li>
            <div class="collapsible-header section-title">
                <h6>Gustatif</h6>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="gustatif">
                        <div class="attaque" id="attaque">
                            <div class="st">
                                <p>Attaque</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="attaque" value="faible" />
                                            <span>faible</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="attaque" value="ample" />
                                            <span>ample</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="attaque" value="franche" />
                                            <span>franche</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="attaque" value="puissante" />
                                            <span>puissante</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="acidité" id="acidite">
                            <div class="st">
                                <p>Acidité</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="acidite" value="molle" />
                                            <span>molle</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="acidite" value="fraiche" />
                                            <span>fraîche</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s2">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="acidite" value="vive" />
                                            <span>vive</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="acidite" value="nerveuse" />
                                            <span>nerveuse</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="moelleux" id="moelleux">
                            <div class="st">
                                <p>Moelleux (consistance-rondeur-alcool)</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l2 s2">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moelleux" value="sec" />
                                            <span>sec</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l2 s2">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moelleux" value="tendre"/>
                                            <span>tendre</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l2 s2">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moelleux" value="gras"/>
                                            <span>gras</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l2 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moelleux" value="capiteux" />
                                            <span>capiteux</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l2 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moelleux" value="lourd" />
                                            <span>lourd</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="sale" id="sale">
                            <div class="st">
                                <p>Salé</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="sale" value="absent" />
                                            <span>absent</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="sale" value="iode" />
                                            <span>iodé/marin</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="sale" value="algal" />
                                            <span>algal</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="aromes" id="arome">
                            <div class="st">
                                <p>Arômes</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" placeholder="Par rétro-olfaction" type="text"
                                        name="arome" value="text-arome"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="finale" id="finale">
                            <div class="st">
                                <p>Finale</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="finale" value="courte" />
                                            <span>courte</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="finale" value="moyenne" />
                                            <span>moyenne</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="finale" value="longue" />
                                            <span>longue</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="finale" value="persistante" />
                                            <span>persistante</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>


        {{!-- =============== CONCLUSION ===============--}}

        <li>
            <div class="collapsible-header section-title">
                <h6>Conclusion</h6>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="CONCLUSION">
                        <div class="qualité" id="qualite">
                            <div class="st">
                                <p>Qualité</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="qualite" value="faible" />
                                            <span>faible</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="qualite" value="acceptable" />
                                            <span>acceptable</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="qualite" value="bonne" />
                                            <span>bonne</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="qualite" value="excellente" />
                                            <span>excellente</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="moment" id="moment">
                            <div class="st">
                                <p>Moment</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moment" value="aperitif" />
                                            <span>apéritif</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moment" value="repas" />
                                            <span>repas</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moment" value="digestif" />
                                            <span>digestif</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="association" id="association">
                            <div class="st">
                                <p>Association</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" type="text" name="association" value="text-association"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="prix" id="prix">
                            <div class="st">
                                <p>Prix public (pour une bouteille de 75cl)</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="prix" value="inf-trente" />
                                            <span>Inférieur à 30€</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="prix" value="trente-cinquante" />
                                            <span>Entre 30€ et 50€</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="prix" value="cinquante-soixantedix" />
                                            <span>Entre 50€ et 70€</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="prix" value="soixantedix-plus" />
                                            <span>Supérieur à 70€</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="note" id="note">
                            <div class="st">
                                <p>Note</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="input-field col s4">
                                    <textarea class="materialize-textarea" type="number" name="note" value="valeur-note"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div>
        <button class="btn waves-effect waves-light" type="submit">Enregistrer</button>
    </div>

</form>

