<form action="/espacePerso" method="POST">
    {{!-- =============== EN-TETE ===============--}}

    <div class="degust-title">
        <h3>Degustation</h3>
    </div>

    <div class="head-taste">
        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="whiskyName">
                <label class="active" for="whiskyName">Whisky</label>
            </div>
            <div class="input-field col s6">
                <input type="text" name="lieu">
                <label class="active" for="lieu">Lieu</label>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" name="origine">
                    <label class="active" for="origine">Origine</label>
                </div>
                <div class="input-field col s6">
                    <input type="date" name="date">
                    <label class="active" for="date">Date</label>
                </div>
            </div>
        </div>
    </div>

    {{!-- =============== VISUEL ===============--}}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header section-title" id="visuel">
                <h6>Visuel</h6>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="visu">
                        <div class="limpidité" id="limpidite">
                            <div class="st">
                                <p>Limpidité</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in case" name="trouble" value="true" />
                                            <span>trouble</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in case" name="flou" value="true" />
                                            <span>flou</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in case" name="opalescent" value="true" />
                                            <span>opalescent</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in case" name="limpide" value="true" />
                                            <span>limpide</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="brillance" id="brillance">
                            <div class="st">
                                <p>Brillance</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="terne" value="true" />
                                            <span>terne</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="lumineuse" value="true"/>
                                            <span>lumineuse</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="eclatante" value="true" />
                                            <span>éclatante</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="intensité" id="intensite">
                            <div class="st">
                                <p>Intensité colorante</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="pale" value="true" />
                                            <span>pâle</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="claire" value="true" />
                                            <span>claire</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="soutenue" value="true" />
                                            <span>soutenue</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="capillarité" id="capillarite">
                            <div class="st">
                                <p>Capillarité (larmes)</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="coulante" value="true" />
                                            <span>coulante</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="epaisse" value="true" />
                                            <span>épaisse</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="grasse" value="true" />
                                            <span>grasse</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="visqueuse" value="true" />
                                            <span>visqueuse</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="couleur" id="couleur">
                            <div class="st">
                                <p>Couleur (nuance du disque)</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="vert" value="true" />
                                            <span>or vert</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="doré" value="true" />
                                            <span>or doré</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="paille" value="true"/>
                                            <span>or paille</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="ambre" value="true"/>
                                            <span>or ambré</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </li>

        {{!-- =============== OLFACTIF ===============--}}

        <li>
            <div class="collapsible-header section-title">
                <h6>Olfactif</h6>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="olfactif" id="olfactif">
                        <div class="first-nose" id="firstnose">
                            <div class="st">
                                <p>1er nez (avant aération)</p>
                            </div>
                            <div class="row bg-beige">
                                <p>1ère impression (franchise)</p>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="douteuse" value="true" />
                                            <span>douteuse</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="simple" value="true" />
                                            <span>simple</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="franche" value="true" />
                                            <span>franche</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="complexe" value="true" />
                                            <span>complexe</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <div class="row bg-beige">
                                <p>Intensité aromatique</p>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="faible" value="true" />
                                            <span>faible</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moderee" value="true" />
                                            <span>modérée</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="puissante" value="true" />
                                            <span>puissante</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <div class="row bg-beige">
                                <p>Citez deux familles aromatiques :</p>
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" type="text" name="textfamille" value="string"
                                        placeholder="Par voie directe ou indirecte (rétro-olfaction)"></textarea>

                                </div>
                            </div>
                            <div class="row bg-beige">
                                <p>Citez trois arômes :</p>
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" type="text" name="textaromes" value="string"
                                        placeholder="Par voie directe ou indirecte (rétro-olfaction)"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="second-nose" id="secondnose">
                            <div class="st">
                                <p>2eme nez (après aération)</p>
                            </div>
                            <div class="row bg-beige">
                                <p>Citez deux familles aromatiques :</p>
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" type="text" name="textfamillebis" value="string"
                                        placeholder="Par voie directe ou indirecte (rétro-olfaction)"></textarea>
                                </div>
                            </div>
                            <div class="row bg-beige">
                                <p>Citez trois arômes :</p>
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" type="text" name="textaromesbis" value="string"
                                        placeholder="Par voie directe ou indirecte (rétro-olfaction)"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>


        {{!-- =============== GUSTATIF ===============--}}

        <li>
            <div class="collapsible-header section-title">
                <h6>Gustatif</h6>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="gustatif">
                        <div class="attaque" id="attaque">
                            <div class="st">
                                <p>Attaque</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="attfaible" value="true" />
                                            <span>faible</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="ample" value="true" />
                                            <span>ample</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="attfranche" value="true" />
                                            <span>franche</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="attpuissante" value="true" />
                                            <span>puissante</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="acidité" id="acidite">
                            <div class="st">
                                <p>Acidité</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="molle" value="true" />
                                            <span>molle</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="fraiche" value="true" />
                                            <span>fraîche</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s2">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="vive" value="true" />
                                            <span>vive</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="nerveuse" value="true" />
                                            <span>nerveuse</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="moelleux" id="moelleux">
                            <div class="st">
                                <p>Moelleux (consistance-rondeur-alcool)</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l2 s2">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="sec" value="true" />
                                            <span>sec</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l2 s2">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="tendre" value="true"/>
                                            <span>tendre</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l2 s2">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="gras" value="true"/>
                                            <span>gras</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l2 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="capiteux" value="true" />
                                            <span>capiteux</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l2 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="lourd" value="true" />
                                            <span>lourd</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="sale" id="sale">
                            <div class="st">
                                <p>Salé</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="absent" value="true" />
                                            <span>absent</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="iode" value="true" />
                                            <span>iodé/marin</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="algal" value="true" />
                                            <span>algal</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="aromes" id="arome">
                            <div class="st">
                                <p>Arômes</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" placeholder="Par rétro-olfaction" type="text"
                                        name="textarometerce" value="string"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="finale" id="finale">
                            <div class="st">
                                <p>Finale</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="courte" value="true" />
                                            <span>courte</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="moyenne" value="true" />
                                            <span>moyenne</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="longue" value="true" />
                                            <span>longue</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="persistante" value="true" />
                                            <span>persistante</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>


        {{!-- =============== CONCLUSION ===============--}}

        <li>
            <div class="collapsible-header section-title">
                <h6>Conclusion</h6>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="CONCLUSION">
                        <div class="qualité" id="qualite">
                            <div class="st">
                                <p>Qualité</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="faible" value="true" />
                                            <span>faible</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="acceptable" value="true" />
                                            <span>acceptable</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="bonne" value="true" />
                                            <span>bonne</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="excellente" value="true" />
                                            <span>excellente</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="moment" id="moment">
                            <div class="st">
                                <p>Moment</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="aperitif" value="true" />
                                            <span>apéritif</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="repas" value="true" />
                                            <span>repas</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l4 s4">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="digestif" value="true" />
                                            <span>digestif</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="association" id="association">
                            <div class="st">
                                <p>Association</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" type="text" name="textassociation" value="string"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="prix" id="prix">
                            <div class="st">
                                <p>Prix public (pour une bouteille de 75cl)</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="inftrente" value="true" />
                                            <span>Inférieur à 30€</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="trentecinquante" value="true" />
                                            <span>Entre 30€ et 50€</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="cinquantesoixantedix" value="true" />
                                            <span>Entre 50€ et 70€</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col l3 s3">
                                    <p>
                                        <label>
                                            <input type="checkbox" class="filled-in" name="soixantedixplus" value="true" />
                                            <span>Supérieur à 70€</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="note" id="note">
                            <div class="st">
                                <p>Note</p>
                            </div>
                            <div class="row bg-beige">
                                <div class="input-field col s4">
                                    <textarea class="materialize-textarea" type="number" name="valeurnote" value="number"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div>
        <button class="btn waves-effect waves-light" type="submit">Enregistrer</button>
    </div>

</form>

