   
{{!-- =============== Page découvrir ===============--}}
<div id="decouvrir" class="col s12 m3">
  <img src="/assets/images/waterfall-192984_960_720.jpg" height="800px" width="100%" alt="">
</div>

{{!-- =============== Section Histoire ===============--}}
<div class="container">
  <div class="col s12 m7">
    <h4 class="header">Un peu d'histoire</h4>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>  
      </div>
    </div>
  </div>
</div>


{{!-- =============== Section poduction ===============--}}
<div class="container">
  <div class="col s12 m7">
    <h4 class="header">Une production internationnale</h4>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
       
      </div>
    </div>
  </div>
</div>