
{{!-- =============== Page Guide ===============--}}
<div id="guide" class="col s12 m3">
  <img src="/assets/images/glasses.webp" height="800px" width="100%" alt="">
</div>

{{!-- =============== Section Distillerie ===============--}}
<div class="container">
  <div class="col s12 m7">
    <h4 class="header">Distillerie</h4>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
       
      </div>
    </div>
  </div>
</div>


{{!-- =============== Section Assemblage ===============--}}
<div class="container">
  <div class="col s12 m7">
    <h4 class="header">Assemblage et stockage</h4>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
       
      </div>
    </div>
  </div>
</div>


{{!-- =============== Section Conseil dégustation ===============--}}
<div class="container">
  <div class="col s12 m7">
    <h4 class="header">Conseils dégustation</h4>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
       
      </div>
    </div>
  </div>
</div>

{{!-- =============== Section Mixologie ===============--}}
<div class="container">
  <div class="col s12 m7">
    <h4 class="header">Mixologie</h4>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
       
      </div>
    </div>
  </div>
</div>