
{{!-- =============== Home page ===============--}}
<div id="home" class="col l12 s12">
  <img src="/assets/images/distillery-barrels-591602_960_720.jpg" class="responsive-img displayed" style="">
</div>
<div class="container">

  <h3>Welcome</h3>
 
  <p>work in progress</p>
</div>

<style>
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
</style>