
{{!-- =============== Home page ===============--}}
<div id="home" class="col l12 s12">
  <img src="/assets/images/distillery-barrels-591602_960_720.jpg"  class="home" >
</div>
<div class="container">

  <h3>Welcome</h3>
 
  <p>work in progress</p>
</div>

<style>
img {

  max-width: 100%;
  height: auto;
}
</style>