<div class="account-login">
    <div class="login-title">
        <h1>Connexion</h1>
    </div>
    <form action="/connexion" method="POST">
        <div class="row">
            <div class="bg-beige">
                <h4>Nouveau client ?</h2>
                    <p>Créez un compte pour personnaliser votre espace de dégustastion</p>
            </div>
            <div class="buttons">
                <a class="waves-effect waves-light btn" href="/createCompte">Créer votre compte</a>
            </div>
        </div>
        <div class="row">
            <div class="content">
                <h4>Vous avez déjà un compte ?</h2>
                    <p>Connectez-vous à votre espace personnelle</p>
            </div>
            <ul>
                <li>
                    <div class="row">
                        <div class="input-field col s6 push-s3">
                            <input id="email" type="email" name="email" class="validate">
                            <label for="email">Adresse Email</label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="input-field col s6 push-s3">
                            <input id="pass" type="password" name="password" class="validate">
                            <label for="pass">Mot de passe</label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col s6">
                            <a href="/forgotpassword">Mot de passe oublié ?</a>
                        </div>
                        <div class="col s6">
                            <p>* Champs obligatoire</p>
                        </div>
                    </div>

                </li>
                <li>
                    <button class="btn btn-stand waves-effect waves-light" type="submit">Se connecter
                    </button>
                </li>
            </ul>
        </div>
    </form>
</div>

</form>
</div>