{{!-- =============== Page connexion ===============--}}
<div class="account-login">
    <div class="login-title">
        <h1>Connexion</h1>
    </div>

    {{!-- redirection création de compte --}}
    <div class="row bg-beige">
        <div class="col l12 s12">
            <h4>Nouveau client ?</h2>
                <p>Créez un compte pour personnaliser votre espace de dégustastion</p>
        </div>
        <div class="buttons">
            <a class="waves-effect waves-light btn" href="/createCompte">Créer votre compte</a>
        </div>
    </div>

    {{!-- formulaire de connexion --}}
    <form action="/connexion" method="POST">
    <div class="row">
        <div class="content">
            <h4>Vous avez déjà un compte ?</h2>
                <p>Connectez-vous à votre espace personnelle</p>
        </div>
        <ul>
            <li>
                <div class="row">
                    <div class="input-field col s6 push-s3">
                        <input id="email" type="email" name="email" class="validate">
                        <label for="email">Adresse Email</label>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="input-field col s6 push-s3">
                        <input id="pass" type="password" name="password" class="validate">
                        <label for="pass">Mot de passe</label>
                    </div>
                </div>
            </li>

            {{!-- redirection mot de passe oublié --}}
            <li>
                <div class="row">
                    <div class="col s6">
                        <a href="/forgotpassword">Mot de passe oublié ?</a>
                    </div>
                    <div class="col s6">
                        <p>* Champs obligatoire</p>
                    </div>
                </div>

            </li>

            {{!-- connexion Google + --}}
            <li>
                <div class="row">
                    <div class="col l4 s4">
                        <button class="btn btn-stand waves-effect waves-light" type="submit">Se connecter
                        </button>
                    </div>
                    <div class="col l4 s4">
                        <a href="/connexion/google" class="btn google-btn">Google+</a>
                    </div>
                </div>


            </li>
        </ul>
    </div>
    </form>
</div>
