<div class="container">
    <div class="row">
        <div class="col l12 s12">
            <ul>
                <li>
                    <h3>Nouveau mot de passe</h3>
                </li>
                <li>
                    <form action="/newpassword" method="POST">
                        <div class="row">
                            <div class="input-field col l6 s12">
                                <input id="password" type="password" name="password">
                                <label for="password">Mot de passe</label>
                            </div>
                            <div class="input-field col l6 s12">
                                <input id="password" type="password" name="confPassword">
                                <label for="password">Confirmation mot de passe</label>
                            </div>
                        </div>
                        <button type="submit">validé</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>